html{
    margin: 0;
}
body{
    font-family: 'Hind', sans-serif;
    background-image: linear-gradient(to right, #73a3ec, #2dc2ef, #51d9d7, #9ee9ba, #e7f2af);
}
#particles-js {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    /* z-index:-10; */
}
.content{
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

input{
    display: block;
    margin: 0 auto;
}